In [177]:
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [4]:
# Load the final dataframe (feature engineered, encoded, scaled)
df_final = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_final.csv")

# Loading in the data

In [231]:
# Load seperate datasets
# Define file paths
ratings_file = '/Users/femke/Documents/Uni/DSS/Thesis/Data/ml-1m/ratings.dat'
users_file = '/Users/femke/Documents/Uni/DSS/Thesis/Data/ml-1m/users.dat'
movies_file = '/Users/femke/Documents/Uni/DSS/Thesis/Data/ml-1m/movies.dat'

# Load datasets
ratings = pd.read_csv(ratings_file, sep='::', header=None, names=['UserID', 'MovieID', 'Rating', 'Timestamp'], engine='python')
users = pd.read_csv(users_file, sep='::', header=None, names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], engine='python')
movies = pd.read_csv(movies_file, sep='::', header=None, names=['MovieID', 'Title', 'Genres'], engine='python', encoding='ISO-8859-1')

In [252]:
# Merge the seperate datasets
ratings_plus_users = pd.merge(ratings, users, on='UserID')
df = pd.merge(ratings_plus_users, movies, on='MovieID')

# Feature Engineering

In [253]:
# Create time component features
df['Timestamp'] = df['Timestamp'].apply(datetime.fromtimestamp)
df['Year'] = df['Timestamp'].dt.year
df['Month'] = df['Timestamp'].dt.month
df['Day'] = df['Timestamp'].dt.day
df['Hour'] = df['Timestamp'].dt.hour

# Removing the unnecessary features (Zip-code and timestamp)
df = df.drop(columns=["Timestamp", "Zip-code"])

In [254]:
# Prepare df_temp (used for processing)
df_temp = df.copy()

# Change the names of the categories for the Occupation feature
occupation_mapping = {
    0: "Other or not specified", 1: "Academic/educator", 2: "Artist",
    3: "Clerical/admin", 4: "College/grad student", 5: "Customer service",
    6: "Doctor/health care", 7: "Executive/managerial", 8: "Farmer",
    9: "Homemaker", 10: "K-12 student", 11: "Lawyer", 12: "Programmer",
    13: "Retired", 14: "Sales/marketing", 15: "Scientist", 16: "Self-employed",
    17: "Technician/engineer", 18: "Tradesman/craftsman", 19: "Unemployed",
    20: "Writer"
}
df_temp['Occupation'] = df_temp['Occupation'].map(occupation_mapping)

In [255]:
# Create time features and sorting df_temp
df_temp['Release_year'] = df_temp.Title.str.extract("\((\d{4})\)", expand=True).astype(str)
df_temp['Release_year'] = pd.to_datetime(df_temp.Release_year, format='%Y')
df_temp['Release_year'] = df_temp.Release_year.dt.year
df_temp['Title'] = df_temp.Title.str[:-7]

# Sort df_temp
column_order = ['UserID', 'MovieID', 'Rating', 'Year', 'Month', 'Day', 'Hour','Gender', 'Age', 'Occupation', 
                'Title', 'Release_year', 'Genres']
df_temp = df_temp[column_order]

In [256]:
# Remove Title column (will be identified by MovieID)
df_temp = df_temp.drop(columns='Title')

In [237]:
df_temp.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Gender,Age,Occupation,Release_year,Genres
0,1,1193,5,2000,12,31,23,F,1,K-12 student,1975,Drama
1,2,1193,5,2000,12,31,22,M,56,Self-employed,1975,Drama
2,12,1193,4,2000,12,31,0,M,25,Programmer,1975,Drama
3,15,1193,4,2000,12,30,19,M,25,Executive/managerial,1975,Drama
4,17,1193,5,2000,12,30,7,M,50,Academic/educator,1975,Drama

In [257]:
# Create the average rating per user feature
df_temp['Avg_rating_user'] = df_temp.groupby('UserID')['Rating'].transform('mean').round(2)

In [258]:
# Create the average rating per movie feature
df_temp['Avg_rating_movie'] = df_temp.groupby('MovieID')['Rating'].transform('mean').round(2)

In [259]:
# Create the deviation each rating is for the average rating of that movie feature
df_temp['Dev_movie_avg'] = df_temp['Rating'] - df_temp['Avg_rating_movie'].round()

In [260]:
# Create the average each user differs from the mean Rating given to a movie feature
df_temp['Avg_dev_movie_avg'] = df_temp.groupby('UserID')['Dev_movie_avg'].transform('mean').round(2)

In [261]:
# Check the range of the average deviation from the movie average
max_value = df_temp['Avg_dev_movie_avg'].max()
min_value = df_temp['Avg_dev_movie_avg'].min()

print("Highest value in Avg_dev_movie_avg:", max_value)
print("Lowest value in Avg_dev_movie_avg:", min_value)

Highest value in Avg_dev_movie_avg: 1.73
Lowest value in Avg_dev_movie_avg: -2.32

In [262]:
# Create the total ratings per user feature
df_temp['Total_ratings_per_user'] = df_temp.groupby('UserID')['UserID'].transform('count')

In [263]:
# Create the favourite genre feature

# Creatig feature Genres_list which is list of genres instead of a string
df_temp['Genres_list'] = df_temp['Genres'].apply(lambda x: x.split('|'))

# Explode the genres to have each genre in a separate row
df_expanded = df_temp.explode('Genres_list')

# Calculate the average rating and find highest
user_genre_avg = df_expanded.groupby(['UserID', 'Genres_list'])['Rating'].mean().reset_index()
favorite_genre = user_genre_avg.loc[user_genre_avg.groupby('UserID')['Rating'].idxmax()]

# Rename and put in the dataframe
favorite_genre.rename(columns={'Genres_list': 'Favourite_genre'}, inplace=True)
df_temp = df_temp.merge(favorite_genre[['UserID', 'Favourite_genre']], on='UserID', how='left')

# Remove genres_list
df_temp = df_temp.drop(columns="Genres_list")

In [264]:
# Result so far
df_temp.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Gender,Age,Occupation,Release_year,Genres,Avg_rating_user,Avg_rating_movie,Dev_movie_avg,Avg_dev_movie_avg,Total_ratings_per_user,Favourite_genre
0,1,1193,5,2000,12,31,23,F,1,K-12 student,1975,Drama,4.19,4.39,1.0,0.30,53,War
1,2,1193,5,2000,12,31,22,M,56,Self-employed,1975,Drama,3.71,4.39,1.0,-0.06,129,Western
2,12,1193,4,2000,12,31,0,M,25,Programmer,1975,Drama,3.83,4.39,0.0,-0.04,23,Children's
3,15,1193,4,2000,12,30,19,M,25,Executive/managerial,1975,Drama,3.32,4.39,0.0,-0.24,201,Animation
4,17,1193,5,2000,12,30,7,M,50,Academic/educator,1975,Drama,4.08,4.39,1.0,0.40,211,Documentary

In [275]:
# Save and load df_temp
#df_temp.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/df_temp_features_included.csv', index=False)
#df_temp = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/df_temp_features_included.csv")

# Encoding features

In [276]:
# Inspect datatypes in dataframe
df_temp.dtypes

UserID                      int64
MovieID                     int64
Rating                      int64
Year                        int64
Month                       int64
Day                         int64
Hour                        int64
Gender                     object
Age                         int64
Occupation                 object
Release_year                int64
Genres                     object
Avg_rating_user           float64
Avg_rating_movie          float64
Dev_movie_avg             float64
Avg_dev_movie_avg         float64
Total_ratings_per_user      int64
Favourite_genre            object
dtype: object

Need Encoding: Gender, Age (due to it being categorical), Occupation, Genres, Favourite_genre

In [277]:
# One-hot encode Gender
df_temp = pd.get_dummies(df_temp, columns=['Gender'], prefix='', prefix_sep='')
df_temp.rename(columns={'F': 'Female', 'M': 'Male'}, inplace=True)

In [278]:
# Label encode Age 
label_encoder = LabelEncoder()
df_temp['Age'] = label_encoder.fit_transform(df_temp['Age'])

In [280]:
# One-Hot encode Occupation
df_temp = pd.get_dummies(df_temp, columns=['Occupation'], prefix='', prefix_sep='')

In [282]:
# One-Hot encode Genres
genres_split = df_temp['Genres'].str.get_dummies(sep='|').astype(bool)
df_temp = pd.concat([df_temp.drop(columns=['Genres']), genres_split], axis=1)

In [287]:
# One-Hot encode Favourite Genre
df_temp = pd.get_dummies(df_temp, columns=['Favourite_genre'], prefix='Favourite', prefix_sep='_')

In [289]:
# Result so far
pd.set_option('display.max_columns', None)
df_temp.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Age,Release_year,Avg_rating_user,Avg_rating_movie,Dev_movie_avg,Avg_dev_movie_avg,Total_ratings_per_user,Female,Male,Academic/educator,Artist,Clerical/admin,College/grad student,Customer service,Doctor/health care,Executive/managerial,Farmer,Homemaker,K-12 student,Lawyer,Other or not specified,Programmer,Retired,Sales/marketing,Scientist,Self-employed,Technician/engineer,Tradesman/craftsman,Unemployed,Writer,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Favourite_Action,Favourite_Adventure,Favourite_Animation,Favourite_Children's,Favourite_Comedy,Favourite_Crime,Favourite_Documentary,Favourite_Drama,Favourite_Fantasy,Favourite_Film-Noir,Favourite_Horror,Favourite_Musical,Favourite_Mystery,Favourite_Romance,Favourite_Sci-Fi,Favourite_Thriller,Favourite_War,Favourite_Western
0,1,1193,5,2000,12,31,23,0,1975,4.19,4.39,1.0,0.30,53,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,2,1193,5,2000,12,31,22,6,1975,3.71,4.39,1.0,-0.06,129,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,12,1193,4,2000,12,31,0,2,1975,3.83,4.39,0.0,-0.04,23,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,15,1193,4,2000,12,30,19,2,1975,3.32,4.39,0.0,-0.24,201,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,17,1193,5,2000,12,30,7,5,1975,4.08,4.39,1.0,0.40,211,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [290]:
# Save and load df_temp
#df_temp.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/df_temp.csv', index=False)
#df_temp = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/df_temp.csv")

# Scaling the numerical features

In [291]:
# Inspect the columns
df_temp.columns

Index(['UserID', 'MovieID', 'Rating', 'Year', 'Month', 'Day', 'Hour', 'Age',
       'Release_year', 'Avg_rating_user', 'Avg_rating_movie', 'Dev_movie_avg',
       'Avg_dev_movie_avg', 'Total_ratings_per_user', 'Female', 'Male',
       'Academic/educator', 'Artist', 'Clerical/admin', 'College/grad student',
       'Customer service', 'Doctor/health care', 'Executive/managerial',
       'Farmer', 'Homemaker', 'K-12 student', 'Lawyer',
       'Other or not specified', 'Programmer', 'Retired', 'Sales/marketing',
       'Scientist', 'Self-employed', 'Technician/engineer',
       'Tradesman/craftsman', 'Unemployed', 'Writer', 'Action', 'Adventure',
       'Animation', 'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'Favourite_Action',
       'Favourite_Adventure', 'Favourite_Animation', 'Favourite_Children's',
       'Favourite_Comedy', 'Favourite_Crime', 'Favourite_Documentary',
       'Favourite_Drama', 'Favourite_Fantasy', 'Favourite_Film-Noir',
       'Favourite_Horror', 'Favourite_Musical', 'Favourite_Mystery',
       'Favourite_Romance', 'Favourite_Sci-Fi', 'Favourite_Thriller',
       'Favourite_War', 'Favourite_Western'],
      dtype='object')

In [292]:
# Scale the features 
features_to_scale = ['Rating', 'Year', 'Month', 'Day', 'Hour', 'Age', 'Release_year', 'Avg_rating_user', 
                     'Avg_rating_movie', 'Dev_movie_avg', 'Avg_dev_movie_avg', 'Total_ratings_per_user']

scaler = StandardScaler()
df_temp[features_to_scale] = scaler.fit_transform(df_temp[features_to_scale])

# Define df_final

In [294]:
# Turn df_temp into df_final
df_final = df_temp.copy()

In [293]:
# Result for df_final
df_final.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Age,Release_year,Avg_rating_user,Avg_rating_movie,Dev_movie_avg,Avg_dev_movie_avg,Total_ratings_per_user,Female,Male,Academic/educator,Artist,Clerical/admin,College/grad student,Customer service,Doctor/health care,Executive/managerial,Farmer,Homemaker,K-12 student,Lawyer,Other or not specified,Programmer,Retired,Sales/marketing,Scientist,Self-employed,Technician/engineer,Tradesman/craftsman,Unemployed,Writer,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Favourite_Action,Favourite_Adventure,Favourite_Animation,Favourite_Children's,Favourite_Comedy,Favourite_Crime,Favourite_Documentary,Favourite_Drama,Favourite_Fantasy,Favourite_Film-Noir,Favourite_Horror,Favourite_Musical,Favourite_Mystery,Favourite_Romance,Favourite_Sci-Fi,Favourite_Thriller,Favourite_War,Favourite_Western
0,1,1193,1.269747,-0.298761,1.2101,1.753776,1.434634,-1.839831,-0.815259,1.395362,1.481215,0.985811,0.790429,-1.037470,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,2,1193,1.269747,-0.298761,1.2101,1.753776,1.309130,2.574357,-0.815259,0.294519,1.481215,0.985811,-0.159009,-0.803437,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,12,1193,0.374573,-0.298761,1.2101,1.753776,-1.451967,-0.368435,-0.815259,0.569730,1.481215,-0.000320,-0.106262,-1.129851,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,15,1193,0.374573,-0.298761,1.2101,1.641197,0.932617,-0.368435,-0.815259,-0.599915,1.481215,-0.000320,-0.633728,-0.581721,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,17,1193,1.269747,-0.298761,1.2101,1.641197,-0.573436,1.838659,-0.815259,1.143085,1.481215,0.985811,1.054162,-0.550927,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

# Final check for missing values

In [295]:
# Check for missing values (Null)
missing_values_null = df_final.isnull().sum()
print(missing_values_null)

UserID                0
MovieID               0
Rating                0
Year                  0
Month                 0
                     ..
Favourite_Romance     0
Favourite_Sci-Fi      0
Favourite_Thriller    0
Favourite_War         0
Favourite_Western     0
Length: 73, dtype: int64

In [296]:
# Check for missing values (NaN or None)
missing_values_NaN_None = df_final.isna().sum()
print(missing_values_NaN_None)

UserID                0
MovieID               0
Rating                0
Year                  0
Month                 0
                     ..
Favourite_Romance     0
Favourite_Sci-Fi      0
Favourite_Thriller    0
Favourite_War         0
Favourite_Western     0
Length: 73, dtype: int64

No missing values -> however, not every user rated every movie, could be considered missing values

# Saving the file

In [297]:
# Save df_final for model input - Feature engineered, encoded, scaled
df_final.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_final.csv', index=False)

# OLD CODE

In [ ]:
# Save file with time component, movie dummy
df_expanded_movies.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_expanded_movies.csv', index=False)

In [ ]:
# #OLD WAY TO GET TO df_expanded_movies_category and explore the movies dataset

# # Splitting the release year from the title for movies dataset
# movies['Release_year'] = movies.Title.str.extract("\((\d{4})\)", expand=True).astype(str)
# movies['Release_year'] = pd.to_datetime(movies.Release_year, format='%Y')
# movies['Release_year'] = movies.Release_year.dt.year
# movies['Title'] = movies.Title.str[:-7]

# # Separating the genres and creating the dummies
# # Creating all unique genres
# genres_unique = pd.DataFrame(movies.Genres.str.split('|').tolist()).stack().unique()
# genres_unique = pd.DataFrame(genres_unique, columns=['Genre'])

# # Remove old Genres column and get dummies
# movies = movies.join(movies.Genres.str.get_dummies().astype(bool))
# movies.drop('Genres', inplace=True, axis=1)

# # Merge expanded movie dataset (with dummies) with ratings and user dataset
# df_expanded_movies = pd.merge(ratings_plus_users, movies, on='MovieID')

# # Creating time components in df_expanded_movies
# df_expanded_movies['Timestamp'] = df_expanded_movies['Timestamp'].apply(datetime.fromtimestamp)
# df_expanded_movies['Year'] = df_expanded_movies['Timestamp'].dt.year
# df_expanded_movies['Month'] = df_expanded_movies['Timestamp'].dt.month
# df_expanded_movies['Day'] = df_expanded_movies['Timestamp'].dt.day
# df_expanded_movies['Hour'] = df_expanded_movies['Timestamp'].dt.hour

# # Creating df_expanded_movies_category (Occupation and Age in full + movie dummy)

# # Create a copy of the dataframe
# df_expanded_movies_category = df_expanded_movies.copy()

# # Change the names of the categories for the Age feature
# age_mapping = {
#     1: "Under 18", 18: "18-24", 25: "25-34", 35: "35-44",
#     45: "45-49", 50: "50-55", 56: "56+"
# }
# df_expanded_movies_category['Age'] = df_expanded_movies_category['Age'].map(age_mapping)

# # Change the names of the categories for the Occupation feature
# occupation_mapping = {
#     0: "other or not specified", 1: "academic/educator", 2: "artist",
#     3: "clerical/admin", 4: "college/grad student", 5: "customer service",
#     6: "doctor/health care", 7: "executive/managerial", 8: "farmer",
#     9: "homemaker", 10: "K-12 student", 11: "lawyer", 12: "programmer",
#     13: "retired", 14: "sales/marketing", 15: "scientist", 16: "self-employed",
#     17: "technician/engineer", 18: "tradesman/craftsman", 19: "unemployed",
#     20: "writer"
# }
# df_expanded_movies_category['Occupation'] = df_expanded_movies_category['Occupation'].map(occupation_mapping)

# # Sorting df_expanded_movies_category
# desired_columns = ['UserID', 'MovieID', 'Rating', 'Timestamp', 'Year', 'Month', 'Day', 'Hour','Gender', 'Age', 'Occupation', 'Zip-code', 
#                    'Title', 'Release_year', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 
#                    'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
#                    'Sci-Fi', 'Thriller', 'War', 'Western']

# # Now, we can reorder the dataframe and drop the 'Timestamp' column
# df_expanded_movies_category = df_expanded_movies_category[desired_columns]

In [ ]:
# Creating df_category (Occupation and Age in full for EDA purposes)

# Create a copy of the dataframe
df_category = df.copy()

# Change the names of the categories for the Age feature
age_mapping = {
    1: "Under 18", 18: "18-24", 25: "25-34", 35: "35-44",
    45: "45-49", 50: "50-55", 56: "56+"
}
df_category['Age'] = df_category['Age'].map(age_mapping)

# Change the names of the categories for the Occupation feature
occupation_mapping = {
    0: "Other or not specified", 1: "Academic/educator", 2: "Artist",
    3: "Clerical/admin", 4: "College/grad student", 5: "Customer service",
    6: "Doctor/health care", 7: "Executive/managerial", 8: "Farmer",
    9: "Homemaker", 10: "K-12 student", 11: "Lawyer", 12: "Programmer",
    13: "Retired", 14: "Sales/marketing", 15: "Scientist", 16: "Self-employed",
    17: "Technician/engineer", 18: "Tradesman/craftsman", 19: "Unemployed",
    20: "Writer"
}
df_category['Occupation'] = df_category['Occupation'].map(occupation_mapping)

In [ ]:
# Splitting the release year from the title and sorting the columns for df_category
df_category['Release_year'] = df_category.Title.str.extract("\((\d{4})\)", expand=True).astype(str)
df_category['Release_year'] = pd.to_datetime(df_category.Release_year, format='%Y')
df_category['Release_year'] = df_category.Release_year.dt.year
df_category['Title'] = df_category.Title.str[:-7]

column_order = ['UserID', 'MovieID', 'Rating', 'Year', 'Month', 'Day', 'Hour','Gender', 'Age', 'Occupation', 
                'Title', 'Release_year', 'Genres']
df_category = df_category[column_order]

In [ ]:
# Creating genre dummy for df_temp

# Splitting the genres
genres_split_2 = df_temp['Genres'].str.get_dummies(sep='|').astype(bool)

# Concatenate the original dataframe with the genres dummy variables
df_temp = pd.concat([df_temp.drop(columns=['Genres']), genres_split_2], axis=1)

# Creating genre dummy for df_category -> df_expanded_movies_category (seperate df so it can be used for EDA purposes)

# Splitting the genres
genres_split = df_category['Genres'].str.get_dummies(sep='|').astype(bool)

# Concatenate the original dataframe with the genres dummy variables
df_expanded_movies_category = pd.concat([df_category.drop(columns=['Genres']), genres_split], axis=1)

In [ ]:
# One-Hot encode Genres when it still was a string
# Convert list to string with "|" separator
df_temp['Genres'] = df_temp['Genres'].apply(lambda x: '|'.join(x))

# Apply get_dummies to split the genres into binary columns
genres_split = df_temp['Genres'].str.get_dummies(sep='|')

# Concatenate the original dataframe with the genres dummy variables
df_temp = pd.concat([df_temp.drop(columns=['Genres']), genres_split], axis=1)

In [ ]:
# Saving all dataframes
# Save file with time component
df.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df.csv', index=False)

# Save file with time component, categories renamed
df_category.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_category.csv', index=False)

# Save file with time component, categories renamed, movie dummy
df_expanded_movies_category.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_expanded_movies_category.csv', index=False)

# Save file with time component, categories renamed, movie dummy, ordered right
df_final.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_final.csv', index=False)