<a href="https://colab.research.google.com/github/femketenharkel/Predicting_Ratings/blob/main/models/clustering/DBSCAN_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Link with drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Loading in the dataframe
import pandas as pd
df_final = pd.read_csv("/content/drive/My Drive/Thesis/Data/df_sampled_unscaled.csv")

In [ ]:
pd.set_option('display.max_columns', None)
df_final.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Age,Release_year,Total_ratings_per_user,Female,Male,Academic/educator,Artist,Clerical/admin,College/grad student,Customer service,Doctor/health care,Executive/managerial,Farmer,Homemaker,K-12 student,Lawyer,Other or not specified,Programmer,Retired,Sales/marketing,Scientist,Self-employed,Technician/engineer,Tradesman/craftsman,Unemployed,Writer,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Favourite_Action,Favourite_Adventure,Favourite_Animation,Favourite_Children's,Favourite_Comedy,Favourite_Crime,Favourite_Documentary,Favourite_Drama,Favourite_Fantasy,Favourite_Film-Noir,Favourite_Horror,Favourite_Musical,Favourite_Mystery,Favourite_Romance,Favourite_Sci-Fi,Favourite_Thriller,Favourite_War,Favourite_Western
0,1645,485,3,2000,11,23,12,1,1993,522,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,3112,357,4,2000,9,20,20,1,1994,213,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,2077,2792,2,2000,11,19,19,1,1982,684,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,868,2279,4,2000,11,26,23,5,1998,75,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,2773,1103,4,2000,11,1,10,3,1955,83,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [1]:
# Google colab version
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
df_final = pd.read_csv("/content/drive/My Drive/Thesis/Data/df_sampled_unscaled.csv")

Mounted at /content/drive

In [2]:
# Remove total ratings per user because that is over the 100% dataset
df_final = df_final.drop(columns=['Total_ratings_per_user'])

In [3]:
# Create the new column with the time difference
df_final['Time_release_to_rating'] = df_final['Year'] - df_final['Release_year']

# Create count variables over the 40% dataset
# Creating total ratings per movie
df_final['Total_ratings_per_movie'] = df_final.groupby('MovieID')['MovieID'].transform('count')

# Create total ratings per user
df_final['Total_ratings_per_user'] = df_final.groupby('UserID')['UserID'].transform('count')

In [4]:
df_final.head()

,UserID,MovieID,Rating,Year,Month,Day,Hour,Age,Release_year,Female,...,Favourite_Musical,Favourite_Mystery,Favourite_Romance,Favourite_Sci-Fi,Favourite_Thriller,Favourite_War,Favourite_Western,Time_release_to_rating,Total_ratings_per_movie,Total_ratings_per_user
0,1645,485,3,2000,11,23,12,1,1993,True,...,True,False,False,False,False,False,False,7,203,228
1,3112,357,4,2000,9,20,20,1,1994,False,...,False,False,False,False,False,False,False,6,482,86
2,2077,2792,2,2000,11,19,19,1,1982,False,...,False,False,False,False,False,False,False,18,219,270
3,868,2279,4,2000,11,26,23,5,1998,False,...,False,True,False,False,False,False,False,2,84,30
4,2773,1103,4,2000,11,1,10,3,1955,False,...,False,False,False,False,False,False,False,45,160,34

In [5]:
df_final.to_csv('/content/drive/My Drive/Thesis/Data/df_final.csv', index=False)

## Normalize the data

In [6]:
df_scaled = df_final.copy()

In [7]:
df_scaled.columns

Index(['UserID', 'MovieID', 'Rating', 'Year', 'Month', 'Day', 'Hour', 'Age',
       'Release_year', 'Female', 'Male', 'Academic/educator', 'Artist',
       'Clerical/admin', 'College/grad student', 'Customer service',
       'Doctor/health care', 'Executive/managerial', 'Farmer', 'Homemaker',
       'K-12 student', 'Lawyer', 'Other or not specified', 'Programmer',
       'Retired', 'Sales/marketing', 'Scientist', 'Self-employed',
       'Technician/engineer', 'Tradesman/craftsman', 'Unemployed', 'Writer',
       'Action', 'Adventure', 'Animation', 'Children's', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'Favourite_Action', 'Favourite_Adventure', 'Favourite_Animation',
       'Favourite_Children's', 'Favourite_Comedy', 'Favourite_Crime',
       'Favourite_Documentary', 'Favourite_Drama', 'Favourite_Fantasy',
       'Favourite_Film-Noir', 'Favourite_Horror', 'Favourite_Musical',
       'Favourite_Mystery', 'Favourite_Romance', 'Favourite_Sci-Fi',
       'Favourite_Thriller', 'Favourite_War', 'Favourite_Western',
       'Time_release_to_rating', 'Total_ratings_per_movie',
       'Total_ratings_per_user'],
      dtype='object')

In [8]:
# Normalize columns for more accurate clustering

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Columns to normalize
columns_to_normalize = ['Year', 'Month', 'Day', 'Hour', 'Release_year',
                        'Time_release_to_rating', 'Total_ratings_per_movie',
                        'Total_ratings_per_user']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the specified columns
df_scaled[columns_to_normalize] = scaler.fit_transform(df_scaled[columns_to_normalize])

In [9]:
# One-hot encode age labels for clustering (otherwise it would falsely
# suggest that there is a numerical relationship)

df_scaled = pd.get_dummies(df_scaled, columns=['Age'], prefix='AgeGroup', prefix_sep='_')

In [ ]:
# klopt niet, aantal clusters is ongeveer aantal instances -> nog aanpassen

import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import DBSCAN

# Extract features for DBSCAN (excluding 'MovieID', 'Rating', and 'UserID')
features = df_scaled.drop(columns=['MovieID', 'Rating', 'UserID'])

# Apply DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=2, metric='euclidean')
clusters = dbscan.fit_predict(features)

# Add cluster labels back to the DataFrame
df_scaled['Cluster'] = clusters

In [ ]:
df_scaled['Cluster'].unique()

array([    0,     1,     2, ..., 49932, 49933, 49934])

In [ ]:
# WITH THE GOWER DISTANCE

import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
import gower
import matplotlib.pyplot as plt

# Assuming df_final is your DataFrame
# Exclude 'MovieID', 'UserID', and 'Rating' from the features
features = df_final.drop(columns=['MovieID', 'UserID', 'Rating'])

# Calculate Gower distance matrix
gower_distances = gower.gower_matrix(features)

# Define a range of eps values to test, with smaller steps
eps_values = np.arange(0.1, 2.0, 0.1)

# Store the number of clusters for each eps value
num_clusters = []

# Min_samples based on heuristic that says 2*amount of features

for eps in eps_values:
    dbscan = DBSCAN(eps=eps, min_samples=140, metric='precomputed')
    clusters = dbscan.fit_predict(gower_distances)
    num_clusters.append(len(set(clusters)) - (1 if -1 in clusters else 0))  # Exclude noise points

# Plot the elbow graph
plt.figure(figsize=(8, 6))
plt.plot(eps_values, num_clusters, marker='o')
plt.title('Elbow Method for DBSCAN with Gower Distance')
plt.xlabel('Eps value')
plt.ylabel('Number of Clusters')
plt.show()

In [ ]:
# Assume optimal_eps is chosen based on the elbow method
optimal_eps = 0.5  # Replace with the optimal eps value from the graph

# Apply DBSCAN with the chosen eps value
dbscan = DBSCAN(eps=optimal_eps, min_samples=5, metric='precomputed')
clusters = dbscan.fit_predict(gower_distances)

# Add cluster labels back to the DataFrame
df_final['Cluster'] = clusters

# Display the DataFrame with clusters
print(df_final)