<a href="https://colab.research.google.com/github/femketenharkel/Predicting_Ratings/blob/main/models/clustering/DBSCAN_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Link with drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Loading in the dataframe
import pandas as pd
df_final = pd.read_csv("/content/drive/My Drive/Thesis/Data/sample_df.csv")

In [ ]:
pd.set_option('display.max_columns', None)
df_final.head()

In [11]:
pd.set_option('display.max_rows', None)
df_final.dtypes.head(15)

UserID                    int64
MovieID                   int64
Rating                    int64
Year                      int64
Month                     int64
Day                       int64
Hour                      int64
Age                       int64
Release_year              int64
Total_ratings_per_user    int64
Female                     bool
Male                       bool
Academic/educator          bool
Artist                     bool
Clerical/admin             bool
dtype: object