In [1]:
import pandas as pd

In [13]:
# Load file with time component
df = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df.csv")

# Load file with time component, categories renamed
df_category = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_category.csv")

# Load file with time component, movie dummy
df_expanded_movies = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_expanded_movies.csv")

# Load file with time component, categories renamed, movie dummy
df_expanded_movies_category = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_expanded_movies_category.csv")

# Load FINAL file with time component, categories renamed, movie dummy, ordered right
df_final = pd.read_csv("/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_final.csv")

In [12]:
df_final.to_csv('/Users/femke/Documents/Uni/DSS/Thesis/Data/ml1m_df_final.csv', index=False)

# Random forest

In [5]:
df_expanded_movies_category.head()

,UserID,MovieID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,Title,Release_year,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Year,Month,Date
0,1,1193,5,2000-12-31 23:12:40,F,Under 18,K-12 student,48067,One Flew Over the Cuckoo's Nest,1975,...,False,False,False,False,False,False,False,2000,12,2000-12-31
1,2,1193,5,2000-12-31 22:33:33,M,56+,self-employed,70072,One Flew Over the Cuckoo's Nest,1975,...,False,False,False,False,False,False,False,2000,12,2000-12-31
2,12,1193,4,2000-12-31 00:49:39,M,25-34,programmer,32793,One Flew Over the Cuckoo's Nest,1975,...,False,False,False,False,False,False,False,2000,12,2000-12-31
3,15,1193,4,2000-12-30 19:01:19,M,25-34,executive/managerial,22903,One Flew Over the Cuckoo's Nest,1975,...,False,False,False,False,False,False,False,2000,12,2000-12-30
4,17,1193,5,2000-12-30 07:41:11,M,50-55,academic/educator,95350,One Flew Over the Cuckoo's Nest,1975,...,False,False,False,False,False,False,False,2000,12,2000-12-30

In [7]:
df_test = df_expanded_movies_category.copy()

In [11]:
desired_columns = ['UserID', 'MovieID', 'Rating', 'Year', 'Month', 'Date', 'Gender', 'Age', 'Occupation', 'Zip-code', 
                   'Title', 'Release_year', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 
                   'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
                   'Sci-Fi', 'Thriller', 'War', 'Western']

# Now, we can reorder the dataframe and drop the 'Timestamp' column
df_final = df_test[desired_columns]

# Display the first few rows of the updated dataframe to verify the changes
print(df_final.head())

   UserID  MovieID  Rating  Year  Month        Date Gender       Age  \
0       1     1193       5  2000     12  2000-12-31      F  Under 18
1       2     1193       5  2000     12  2000-12-31      M       56+
2      12     1193       4  2000     12  2000-12-31      M     25-34
3      15     1193       4  2000     12  2000-12-30      M     25-34
4      17     1193       5  2000     12  2000-12-30      M     50-55

             Occupation Zip-code  ... Fantasy  Film-Noir  Horror  Musical  \
0          K-12 student    48067  ...   False      False   False    False
1         self-employed    70072  ...   False      False   False    False
2            programmer    32793  ...   False      False   False    False
3  executive/managerial    22903  ...   False      False   False    False
4     academic/educator    95350  ...   False      False   False    False

   Mystery  Romance  Sci-Fi  Thriller    War  Western
0    False    False   False     False  False    False
1    False    False   False     False  False    False
2    False    False   False     False  False    False
3    False    False   False     False  False    False
4    False    False   False     False  False    False

[5 rows x 30 columns]

(1000209, 30)